body{
    font-family:'Montserrat', sans-serif ;
    line-height: 1.5;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    line-height: 1.5;

}

p{
    color: #8f8f8f;
}
.colored-section{
    background-color: #ff4c68;
    color:#fff
}
.container-fluid{
    padding: 7% 15%;
}
.white-section{
    background-color: #fff;
}
/* TITLE SECTION */

.big-heading{
    font-size: 4rem;
}

.download-btn{
    padding: 11px;
    margin: 5% 2% 5% 0;
    
}
.iphone6{    
    position: absolute;
    right: 22%;
    transform: rotate(25deg);
    width: 20%;
      
}

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
}
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}



/*FEATURES SECTION */

.feature-explanation{
    color: #8f8f8f;
    margin: auto;
    width: 60%;
    
}
.feature-heading{
    font-size: 1.5rem;    
}
.icon{
    color: #ef8172;
    font-size: 4rem;
    margin: 1.2rem 0 ;
    
}
.icon:hover{
    color: #ff4c68;
}
#features{
    position: relative;   
}


/* TESTIMONIAL SECTION */


.testimonial-img{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.testimonial-text{
    font-size: 3.5rem;

}
#testimonials{
    background-color: #ef8172;
}


/* PRESS SECTION */

.press-logo{
    width: 12%;
    margin: 20px 20px 50px;
}

#press{
    background-color:#ef8172;
    padding-bottom: 3%;
    
}


/* PRICING SECTION */


.dog-types{
    font-size: 1.5rem;
    margin-bottom:0;
}
.prices{
    font-size: 3rem;
    
}
.pricing-column{
    padding: 3% 2%;
}
.pricing-heading{
    font-size: 3.5rem;
}



/* CALL TO ACTION SECTION */
.cta-header{
    margin: 0 10%;
    font-size: 3.5rem;
}


/* FOOTER SECTION */


.footer-icon{
    color: #8f8f8f;
    margin: 20px 10px;
}
.footer-icon:hover{
    color: black;
}

/* MEDIA SECTION */

@media(max-width:1028px) {

.iphone6{
    position: static;
    transform: rotate(0deg);
    width: 60%;
}
.testimonial-img{
    width: 20%;
}
#title{
    text-align: center;
}
}
